* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: 'geist', monospace;
}

a,
a:visited,
a:hover,
a:active {
    color: steelblue;
}

main {
    display: flex;
    flex-direction: column;
}

@media (max-width: 850px) {}